.results {
  position: absolute;
  min-width: 100%;
  display: block;
  left: 0px;
  top: 55px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 1px rgba(100, 100, 100, 0.15);
  animation: showResults ease-in-out 0.3s;
  overflow: hidden;
  &__product {
    padding: 10px;
    display: flex;
    &:hover {
      background-color: rgba(56, 129, 255, 0.05);
      cursor: pointer;
    }
    &--img {
      width: 40px;
      height: 40px;
      border-radius: 10px;
      overflow: hidden;
      margin-right: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: #eeeeee;
      }
    }
    &--details {
      h5 {
        font-weight: 500;
        color: #445b78;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-align: start;
      }
      .price-and-score {
        display: flex;
        .price {
          font-size: 12px;
          font-weight: 400;
          color: rgba(68, 92, 120, 0.75);
        }
        .separator {
          font-size: 12px;
          color: rgba(68, 92, 120, 0.35);
        }
        .offer-price {
          margin-left: 5px;
          color: #3880ff;
        }
        .score {
          font-size: 12px;
          font-weight: 400;
          color: rgba(68, 92, 120, 0.75);
          .star {
            color: gold;
          }
        }
      }
    }
  }
  &__see-all-products {
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    background-color: rgba(56, 129, 255, 0.05);
    cursor: pointer;
    p {
      color: #3880ff;
      font-size: 12px;
    }
  }
  &__not-found {
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 56, 56, 0.05);
    cursor: pointer;
    p {
      color: #ff3838;
      font-size: 12px;
    }
  }
}

@keyframes showResults {
  from {
    opacity: 0;
    transform: translateY(-25%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media screen and (max-width: 525px) {
  .detail-label {
    display: none;
  }
}
