<div class="advanced-search">
  <div class="advanced-search__input">
    <input type="text"
           placeholder="Phone, TV, accessories and more.."
           [(ngModel)]="term"
           (keyup)="search(term)">
          </div>
  <app-advanced-search-results  [results]="results"></app-advanced-search-results>
  <div class="advanced-search__options">
    <div class="advanced-search__options--select"></div>
    <div class="advanced-search__options--icon">
      <img src="/assets/icons/search-outline.svg" alt="">
    </div>
  </div>
</div>
