.advanced-search {
  height: 45px;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  position: relative;
  &__input {
    height: 30px;
    flex: 1;
    input {
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      font-weight: 400;
    }
  }
  &__options {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    &--select {
      height: 30px;
      flex: 1;
    }
    &--icon {
      width: 45px;
      height: 45px;
      padding: 10px;
      cursor: pointer;
      img {
        width: 100%;
      }
    }
  }
}
